
.container1{
  width: 20%;
   margin: auto;
  text-align: center;
  font-style: italic;

}

.container2{
  width: 20%;
  margin-left: 15%;
  text-align: center;
  display: inline-block;

  font-style: italic;

}

body{
  background-color: light blue;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}
h2 {
  margin: 5px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #232931;
  font-size: 1rem;
    color: pink;}
.btn {
  background-color: #25cce6;
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.btn:hover {
  background-color: #5cbf2a;
}

.btn:active {
  position: relative;
  top: 1px;
}

.button {
  text-align: center;
  margin: 30px auto;
}

.fot{
  text-align: center;
  margin-top: 40em;
}
